<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS10NotificationSample_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D716E0511E321757006FCF97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D716E0681E321759006FCF97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D716E0731E321759006FCF97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D716E08F1E323376006FCF97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
